* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 0px 30px;
    background-color:  #33caff;    
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
}

.container {
    width: 85%;
    margin: 0 auto;

}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #33caff;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #33caff;
    color: #fff;
}

.active {
    background-color: #33caff;
    color: #fff;
}